<html ng-app="mathTester">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  </head>

  <body id="tester" ng-controller="MathTesterController">
    <div class="container">
      <div class="jumbotron">
        <h1>My Math Tester</h1>
      </div>
      <div class="row">
        <div class="col-xs-12"><div class="radio">
          <label class="radio-inline"><input type="radio" name="problemType" ng-model="problem" ng-change="setProblemType('Addition')" value="Addition" />Addition</label>
          <label class="radio-inline"><input type="radio" name="problemType" ng-model="problem" ng-change="setProblemType('Subtraction')" value="Subtraction"/>Subtraction</label>
          <label class="radio-inline"><input type="radio" name="problemType" ng-model="problem" ng-change="setProblemType('Multiplication')" value="Multiplication"/>Multiplication</label>
          <label class="radio-inline"><input type="radio" name="problemType" ng-model="problem" ng-change="setProblemType('Division')" value="Division"/>Division</label>
        </div></div>
      </div>
      <div class="row">
        <div class="col-xs-1">
          &nbsp;
        </div>
        <div class="col-xs-1">
          <div id="operand1" class="operand" style="font-size: 26px;">{{mathProblem.operand1}}</div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-1">
          <div class="text-right" id="operator" class="operand" style="font-size: 26px;">{{mathProblem.operator}}</div>
        </div>
        <div class="col-xs-1">
          <div id="operand2" class="operand" style="font-size: 26px;">{{mathProblem.operand2}}</div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-1">
          &nbsp;
        </div>
        <div class="col-xs-1">
          <input type="text" id="answer" ng-model="answer" size="2" class="operand" style="font-size: 26px;"/>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-1">
          &nbsp;
        </div>
        <div class="col-xs-1">
          <input type="button" id="submit" value="Submit" ng-click="setResult()"/>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-1" id="result">{{result}}</div>
      </div>
    <br>
    <div class="row" id="debug-area">
      <div class="col-xs-1">{{debugMessage}}</div>
    </div>
    </div>
  </body>

  <script src="js/angular.js"></script>
  <script src="js/math_tester_controller.js"></script>
  <script src="js/math.js"></script>
</html>
